<div [ngBusy]="{busy: maestroService.busy, message: 'Cargando...', backdrop: true}"></div>

<app-menu></app-menu>
<br> <br>
<br> <br>
<br>
<div class="container-fluid">
  <mat-expansion-panel #filters [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title class="uk-text-subheading">
        Filtros
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="form" (ngSubmit)="filterParking()">
      <div class="row">
        <mat-form-field class="col-md-3">
          <input matInput formControlName="name" placeholder="Nombre" />
        </mat-form-field>

        <mat-form-field class="col-md-3">
          <input matInput formControlName="address" placeholder="Ubicación" />
        </mat-form-field>
        
        <mat-form-field class="col-md-3">
          <input matInput formControlName="places" placeholder="N° plazas disponibles" />
        </mat-form-field>

        <mat-form-field class="col-md-3">
          <input matInput formControlName="price" placeholder="Precio" />
        </mat-form-field>

        <mat-form-field class="col-md-3">
          <mat-label>Tipo de vehículo</mat-label>
          <mat-select formControlName="vehicle">
            <mat-option [value]="null">Seleccione</mat-option>
            <mat-option *ngFor="let vehicle of vehicleList" [value]="vehicle.id">
              {{ vehicle.type }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="col-md-3">
          <mat-label>Valoraciones</mat-label>
          <mat-select formControlName="vehicle">
            <mat-option [value]="null">Seleccione</mat-option>
            <mat-option *ngFor="let rating of ratingList" [value]="rating.viewValue">
              {{ rating.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="col-md-2">
          <button mat-flat-button id="inTripSubmit" type="submit" color="primary" [disabled]="form.invalid">
            Aplicar
          </button>
        </div>
      </div>
    </form>
  </mat-expansion-panel>


  <table mat-table [dataSource]="locations" class="mat-elevation-z8">
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> Dirección </th>
      <td mat-cell *matCellDef="let element"> {{element.direccion}} </td>
    </ng-container>

    <ng-container matColumnDef="places">
      <th mat-header-cell *matHeaderCellDef> Plazas</th>
      <td mat-cell *matCellDef="let element"> {{element.capacidad && element.capacidad!=='None'? element.capacidad: ''}} </td>
    </ng-container>

    <ng-container matColumnDef="available">
      <th mat-header-cell *matHeaderCellDef> Disponibles </th>
      <td mat-cell *matCellDef="let element"> {{element.libres}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<div class="content-map">
  <app-maps 
  [locations]="locations" 
  [multiple]="true"
  (locationMarker)="locationMarker($event)"
  ></app-maps>
</div>

<br>

<app-footer></app-footer>